<div class="face-snap-card" [ngClass]="{snapped: boutonText === 'Oops, un Snap!'}">
    <h1>{{faceSnap.title| titlecase}}</h1>  <!--On  fait ici du String interpolation -->
    <p>Mise en ligne {{faceSnap.creationDate| date: 'le  d, MMM   y, hh:mm:ss'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
<!--    Cette directive permet d ajouter un comportement-->
    <p *ngIf="faceSnap.location"> Photo prise  a {{faceSnap.location}}</p>
    <p>
        <button (click)="onChangeSnaps()">{{boutonText}}</button>
        <span [ngStyle]="{color: 'rgb(0,'+ faceSnap.snap + ',0)'}">😁🙄{{faceSnap.snap}} </span>
    </p>
</div>
